NODE_ENV=development
PORT=4000

# Backend API URL (para produção na Vercel)
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

# Neon (Postgres)
# Use a connection string do Neon (Vercel → Storage → Neon / ou Neon console)
DATABASE_URL=postgresql://neondb_owner:npg_J1nGokYBlf2U@ep-delicate-frost-acr8nfbk-pooler.sa-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
