NODE_ENV=development
PORT=4000

# Neon (Postgres)
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require

# Auth simples (apenas admin)
JWT_SECRET=troque-isto-por-um-segredo-grande-com-mais-de-16
ADMIN_PASSWORD=troque-esta-senha
